@model MVCPresentation.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PronounId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PronounId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShelterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShelterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Assigned Roles:
        </dt>

        <dd>
            <ul>
                @foreach (string r in ViewBag.Roles)
                { 
                    <li>
                        <strong>
                            @r @Html.ActionLink("Remove Role", "RemoveRole", new { Id = Model.Id, Role = r}) 
                        </strong>
                        @if (r == "Admin")
                        { 
                            <span style="color: red; font-weight: bold;">@ViewBag.Error</span>
                        }
                    </li>
                }
            </ul>
        </dd>

        <dt>
            Unassigned Roles:
        </dt>

        <dd>
            <ul>
                @foreach (string r in ViewBag.NoRoles)
                { 
                    <li>
                        <strong>
                            @r @Html.ActionLink("Add Role", "AddRole", new { Id = Model.Id, Role = r}) 
                        </strong>
                    </li>
                }
            </ul>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
