@model IEnumerable<DataObjects.PostVM>
@section styles
{
    <link href="~/Content/community.css" rel="stylesheet" />
}
@{
    ViewBag.Title = "Community Page";
}
<div class="modal" tabindex="-1" role="dialog" id="report-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="report-modal-content">

            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Community</h2>
    <div class="flex overflow">
        <div class="flexSmall">
            <img src="http://via.placeholder.com/75x75" class="image">
        </div>
        <div class="flexLarge">
            @{Html.RenderPartial("Create", new DataObjects.Post()); }
            <hr />
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="flex overflow">
            <div class="flexSmall">
                <img src="http://via.placeholder.com/100x100" class="image">
            </div>
            <div class="flexLarge">
                <h3 class="userNameText">@item.PosterGivenName@item.PosterFamilyName</h3>
                @if (!item.PostVisibility)
                {
                    <h7 class="deactive">Deactivated</h7>
                }

                <p class="communityText">@item.PostContent</p>
            </div>
        </div>
        <div class="table">
            <div class="row">
                <div class="cell">
                    @if (item.PostVisibility)
                    {
                        @Html.ActionLink("Show Replies", "ShowReplies", new { id = item.PostId }, new { @class = "report-button" });
                        if (ViewBag.UserId == item.PostAuthor || ViewBag.HasAdminRole || ViewBag.HasModeratorRole)
                        {
                            <text> | </text>
                        }
                    }

                    @if (item.PostVisibility && ViewBag.UserId == item.PostAuthor)
                    {

                        @Html.ActionLink("Edit Post", "Edit", new { id = item.PostId }, new { @class = "report-button" });
                        <text> | </text>
                    }

                    @if (item.PostVisibility && (ViewBag.UserId == item.PostAuthor || ViewBag.HasAdminRole || ViewBag.HasModeratorRole))
                    {
                        @Html.ActionLink("Delete Post", "Delete", new { id = item.PostId }, new { @class = "report-button" });
                    }

                    @if (!item.PostVisibility && (ViewBag.HasAdminRole || ViewBag.HasModeratorRole))
                    {
                        @Html.ActionLink("Reinstate Post", "ReinstatePost", new { id = item.PostId }, new { @class = "report-button" });
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="report-post-@item.PostId" class="float-right">
                            @Html.Partial("ReportPartial", item)
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/report.js"></script>
}
